* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.preloader .airplane {
  width: 250px;
  -webkit-animation: airplane 1.5s ease-in-out infinite alternate;
          animation: airplane 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes airplane {
  from {
    -webkit-transform: translateY(-25px) rotate(-2deg);
            transform: translateY(-25px) rotate(-2deg);
  }
  to {
    -webkit-transform: translateY(25px) rotate(2deg);
            transform: translateY(25px) rotate(2deg);
  }
}

@keyframes airplane {
  from {
    -webkit-transform: translateY(-25px) rotate(-2deg);
            transform: translateY(-25px) rotate(-2deg);
  }
  to {
    -webkit-transform: translateY(25px) rotate(2deg);
            transform: translateY(25px) rotate(2deg);
  }
}

.container {
  max-width: 1295px;
  margin: 0 auto;
}

.navbar {
  height: 100px;
  background: transparent;
  padding: 0 20px;
  color: #000;
  max-width: 1295px;
  margin: 0 auto;
}

.navbar .logo {
  float: left;
  width: 200px;
}

.navbar .logo img {
  margin-top: 25px;
  width: 100%;
}

.navbar .menu {
  float: right;
  line-height: 100px;
}

.navbar .menu a {
  font-family: 'Avenir-Medium';
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 5px 8px;
  border-right: 1.5px solid #fff;
}

.navbar .menu a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.navbar .menu a.active {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.navbar .show-menu-btn {
  float: right;
}

.navbar .show-menu-btn i {
  line-height: 100px;
}

.navbar .show-menu-btn, .navbar .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.navbar .show-menu-btn:hover, .navbar .hide-menu-btn:hover {
  color: #3498db;
}

.navbar #chk {
  position: absolute;
  visibility: hidden;
  z-index: -11;
}

footer {
  background-color: #231f20;
}

#home-page .landing {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55))), url(../images/dytravel/home-banner-parallax.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.55)), url(../images/dytravel/home-banner-parallax.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#home-page .content {
  padding: 60px 0;
}

#home-page .introduction {
  background-color: #48c2c5;
}

#home-page .introduction p {
  font-size: 18px;
}

@media screen and (max-width: 1170px) {
  .navbar .show-menu-btn, .navbar .hide-menu-btn {
    display: block;
    color: #fff;
  }
  .navbar .show-menu-btn:hover, .navbar .hide-menu-btn:hover {
    color: #000;
  }
  .navbar .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.88);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 11;
  }
  .navbar .menu a {
    border: none;
    display: block;
    padding: 20px;
    color: #fff;
  }
  .navbar .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .navbar #chk:checked ~ .menu {
    right: 0;
  }
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #cdebef;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Avenir-Heavy';
}

body p {
  font-family: 'Avenir-Medium';
}
/*# sourceMappingURL=style.css.map */