html{
	scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/////////////////////////////////////////////////// PRELOADER
.preloader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: opacity 0.5s ease;
    .airplane{
        width: 250px;
        animation: airplane 1.5s ease-in-out infinite alternate;
    }
}
@keyframes airplane{
    from{
        transform: translateY(-25px) rotate(-2deg);
        
    }
    to{
        transform: translateY(25px) rotate(2deg);  
    }
}
/////////////////////////////////////////////////// PAGE CSS
///////////////////////// PAGE LAYOUT
.container{
    max-width: 1295px;
    margin: 0 auto;
}
.navbar{
    height: 100px;
    background: transparent;
    padding: 0 20px;
    color: #000;
    max-width: 1295px;
    margin: 0 auto;
    .logo{
        float: left;
        width: 200px;
        img{
            margin-top: 25px;
            width: 100%;
        }
    }
    .menu{
        float: right;
        line-height: 100px;
        a{
            font-family: 'Avenir-Medium';
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
            transition: 0.4s;
            padding: 5px 8px;
            border-right: 1.5px solid #fff;
            &:hover{
                background-color: #fff;
                color: #000;
                border-radius: 5px;
            }
            &.active{
                background-color: #fff;
                color: #000;
                border-radius: 5px;
            }
        }
    }
    .show-menu-btn{
        float: right;
        i{
            line-height: 100px;
        }
    }
    .show-menu-btn, .hide-menu-btn{
        transition: 0.4s;
        font-size: 30px;
        cursor: pointer;
        display: none;
        &:hover{
            color: #3498db;
        }
    }
    #chk{
        position: absolute;
        visibility: hidden;
        z-index: -11;
    }
}
footer{
    background-color: #231f20;
    color: #fff;
    .four.columns{
        margin-top: 40px;
    }
    img{
        max-width: 60%;
        background-color: #fff;
        border-radius: 5px;
    }
    a{
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        &:hover{
            color: #000;
            text-decoration: underline;
            transition: 0.4s ease-in-out;  
        }
    }
    h5{
        margin-bottom: 5px;
    }
    span{
        font-size: 18px;
    }
    .social-links{
        padding: 25px 0;
        text-align: center;
        a{
            display: inline-block;
            i{
                text-decoration: none;
                color: #fff;
                font-size: 40px;
                margin: 0 10px;
                padding: 5px;
                border-radius: 10px;
                &:hover{
                    color: #000;
                    background-color: #fff;
                    transition: 0.4s ease-in-out;  
                }
            }
        }
        span{
            margin-top: 20px;
            display: block;
        }
        .copyright{
            font-size: 14px;
        }
    }
}
///////////////////////// HOME PAGE
#home-page{
    .landing{
        background: linear-gradient(rgba(0, 0, 0, 0.8)), url(../images/dytravel/home-banner-parallax.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        position: relative;
        .box{
            color: #fff;
            text-align: center;
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%); /*x and y values*/  
            border-radius: 12px;
            padding: 55px 2px;

            h2{
                font-size: 55px;
            }
            h1{
                font-size: 100px;
            }
            a{
                border: 1px solid #fff;
                padding: 12px 20px;
                font-size: 25px;
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: #000;
                    background-color: #fff;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
    .content{
        padding: 60px 0;
    }
    .introduction{
        p{
            font-size: 18px;
        }
        background-color: #48c2c5;
    }
}
/////////////////////////////////////////////////// MEDIA QUERIES
@media screen and (max-width:1170px){
    .navbar{
        .show-menu-btn, .hide-menu-btn{
            display: block;
            color: #fff;
            &:hover{
                color: #000;
            }
        }
        .menu{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.95);
            right: -100%;
            top: 0;
            text-align: center;
            padding: 80px 0;
            line-height: normal;
            transition: 0.7s ease-in-out;
            z-index: 11;
            a{
                border: none;
                display: block;
                padding: 20px;
                color: #fff;
            }
        }
        .hide-menu-btn{
            position: absolute;
            top: 40px;
            right: 40px;
        }
        #chk:checked {
            & ~ .menu{
                right: 0;   
            }
        }
    }
}
@media screen and (max-width:1000px){

}
@media screen and (max-width:750px){
    #home-page{
        .landing{
            .box{
                h2{
                    font-size: 30px;
                }
                h1{
                    font-size: 60px;
                }
                a{
                    padding: 10px 10px;
                    font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width:550px){
    footer{
        .columns{
            text-align: center;
        }
    }
}
@media screen and (max-width:400px){
 
}
/////////////////////////////////////////////////// FONTS
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
         url('../fonts/Avenir-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
    url('../fonts/Avenir-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #cdebef;
    h1, h2, h3, h4, h5, h6{
        font-family: 'Avenir-Heavy';
    }
    p,span,a{
        font-family: 'Avenir-Medium';  
    }   
}

